ul {
  list-style-type: none;
}
hr {
  border: 0.5px solid #606060;
  margin-bottom: 20px;
}
li {
  padding: 5px 0px 5px 30px;
  cursor: pointer;
  margin-bottom: 6px;
  font-weight: 660;
}
tr {
  height: 100%;
}
#items {
  color: #d8d8d8;
  height: fit-content;
  margin-bottom: 20px;
  /* font-size:12px; */
}

#items:hover {
  background-color: #1597bb;
  color: white;
}
#navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  background-color: #351f39;
  height: 100vh;
  color: white;
  padding: 10px 0px 0px;
}
#sidebar-item-list {
  max-height: 250px;
  margin-top: 10px;
  overflow-y: scroll;
  margin-left:10px;
}
#sidebar-container-item-list {
  height: 110vh;
  overflow: auto;
}
#sidebar-container-item-list::-webkit-scrollbar {
  width: 10px;
  height: 100px;
}
#sidebar-container-item-list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.15);
}
#sidebar-item-list::-webkit-scrollbar {
  width: 10px;
  height: 100px;
}
#sidebar-item-list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.2);
}
.profile-dept {
  font-size: 12px;
  color: #f0f0f0;
  font-weight: 600;
  margin-top: 3px;
  margin-left: 2px;
}
.dept-sidebar {
  margin-left: 10px;
}
